<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CountInput" value="2" />
    <add key="CountOutput" value="4" />
    <add key="ProblemType" value="Classification"/>
    
    <add key="FunctionType" value="Bipolar"/>
    <add key="Bias" value="true"/>
    <add key="IterationsCount" value="5000"/>
    <add key="LearningCoefficient" value="0.0001"/>
    <add key="InertiaCoefficient" value="0.2"/>
    <add key="Layers" value="5,5,5"/>
    <add key="TrainingFile" value="data.circles.train.10000.csv"/>
    <add key="TestingFile" value="data.circles.test.10000.csv"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
<!--Regression - Bipolar(0.001,0.2) -->